body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}